lets train a FFNN for a regression problem

In [1]:
from matplotlib import pyplot as plt

import pandas as pd
import numpy as np

Reading the dataset

In [2]:
df=pd.read_csv('cardio_dataset.csv')
df

      SEX  AGEIR   TC  HDL  SMOKE_  BPMED  DIAB_01  RISK
0       1     48  236   66       0      1        0   1.1
1       0     48  260   51       0      1        1   7.0
2       0     44  187   49       1      1        0   7.0
3       1     42  216   57       1      1        0   0.4
4       1     56  156   42       0      1        0   2.2
...   ...    ...  ...  ...     ...    ...      ...   ...
6639    1     65  307   42       1      0        1  36.6
6640    1     42  169   56       0      0        0   0.8
6641    0     65  212   35       1      0        0  30.6
6642    0     66  184   39       0      0        0  23.8
6643    1     45  203   51       0      1        0   1.0

[6644 rows x 8 columns]

data and target

In [4]:
dataset=df.values

data=dataset[:,0:7]
target=dataset[:,7]

In [5]:
print(target)

[ 1.1  7.   7.  ... 30.6 23.8  1. ]

In [6]:
print(data.shape)
print(target.shape)

(6644, 7)
(6644,)

In [7]:
target=np.reshape(target,(-1,1))

In [8]:
print(target.shape)
print(target)

(6644, 1)
[[ 1.1]
 [ 7. ]
 [ 7. ]
 ...
 [30.6]
 [23.8]
 [ 1. ]]